body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding: 2%;
}
img {
  width: 10rem;
  height: 12rem;
}
.banderita {
  width: 35px;
  height: 35px;
}


.biografia {
  
  width: 70%;
  display: inline-block;
  vertical-align:top;
  
}
.summary {
  outline: 1px solid blue;
  margin: 3%;
  display:inline-block;
}
.summary-table {
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  font-size: 14px;
}
.summary-table thead th {
background-color: #B0C4DE;
}
.summary-table tbody tr:first-child {
  text-align: center;
}
.summary-table tbody th {
text-align: left;
}